<div class="search-popup-b">
    <form action="{{ searchForm.resultPage|page }}">
    <div class="max-width">
        <div class="search-popup-b__grid">
            <div class="search-popup-b__value">
                <input type="text" placeholder="Найти" name="search" value="">
            </div>
            <div class="search-popup-b__button"><input type="submit" class="button" value="Найти"></div>
            <div class="search-popup-b__close js--toggle-search">×</div>
        </div>
    </div>
    </form>
</div>

<div class="shadow-b js--toggle-search"></div>
