<section class="content">
    <div class="headline-b">
        <div class="max-width">
            <h1>{{ blogPosts.category.name }}</h1>
            {% partial 'site/breadcrumbs' arrBreadcrumbs = arrBreadcrumbs %}
        </div>
    </div>

    <div class="max-width">
        <div class="grid-b">
            <div class="grid-b__sidebar">
                <div class="sidebar-b">
                    <div class="sidebar-b__menu">
                        {% partial 'documents/left-menu' %}
                    </div>
                </div>
            </div>

            <div class="grid-b__content">
                <div class="welcome-page">
                    Документы
                    <br>
                    <a href = '/storage/app/media/files/Программа развития гребного слалома до 2020г.pdf' download>Скачать программу развития гребного слалома до 2020г</a>
                </div>
                <div class="catalog-b">
                    <div class="catalog-b__list catalog-b__list_services">
                        {% for post in posts %}
                        <div class="catalog-b__item {% if not post.featured_images.count %}{{ 'item-nophoto' }}{% endif %}">
                            {% if post.featured_images.count %}
                                <div class="catalog-b__pic">
                                    <a href="{{ post.url }}">
                                        {% for image in post.featured_images|slice(0, 1) %}
                                            <img loading="lazy" src="{{ image.path }}" alt="">
                                        {% endfor %}
                                    </a>
                                </div>
                            {% endif %}
                            <div class="catalog-b__title"><a href="{{ post.url }}">{{ post.title }}</a></div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <!--pagination-->
                {% if posts.lastPage > 1 %}
                <div class="paging-b">
                    <div class="paging-b__list">
                        {% if posts.currentPage > 1 %}
                        <div class="paging-b__item"><a href="{{ this.page.currentUrl }}?page={{ posts.currentPage-1 }}" class="paging-b__links paging-b__links_arrow">‹</a></div>
                        {% endif %}

                        {% for page in 1..posts.lastPage %}
                        {% if posts.currentPage == page %}
                        <div class="paging-b__item"><span class="paging-b__links paging-b__links_active">{{ page }}</span></div>
                        {% else %}
                        <div class="paging-b__item"><a href="{{ this.page.currentUrl }}?page={{ page }}" class="paging-b__links">{{ page }}</a></div>
                        {% endif %}
                        {% endfor %}

                        {% if posts.lastPage > posts.currentPage %}
                        <div class="paging-b__item"><a href="{{ this.page.currentUrl}}?page={{ posts.currentPage+1 }}" class="paging-b__links paging-b__links_arrow">›</a></div>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
                <!--pagination-->
            </div>
        </div>
    </div>
</section>
