<footer class="footer-b">
    <!--<div class="footer-b__sub">
        <div class="max-width">

            <form action="" class="footer-b__sub-form">
                <div class="footer-b__sub-label">
                    <svg class="icon__sub" width="70px" height="30px">
                        <use xlink:href="#sub"></use>
                    </svg>
                    Подписывайтесь
                    <br>на новости и акции:</div>
                <div class="footer-b__sub-row">
                    <input type="email" placeholder="E-mail" class="input-text">
                    <input type="submit" class="button" value="Подписаться">
                </div>
            </form>

        </div>
    </div>-->

    <div class="max-width">
        <div class="footer-b__grid">
            <div class="footer-b__column">
                <div class="footer-b__title js--footer-menu-toggle">Федерация
                    <svg class="icon__down-arrow" width="256px" height="256px">
                        <use xlink:href="#down-arrow"></use>
                    </svg>
                </div>
                <div class="footer-b__menu">
                    <a href="/federation/kak-eto-bylo" class="footer-b__links">Как это было</a>
                    <a href="/federation/prezidium" class="footer-b__links">Президиум</a>
                    <a href="/federation/revizionnaya-komissiya" class="footer-b__links">Ревизионная комиссия</a>
                    <a href="/federation/popechitelskiy-sovet" class="footer-b__links">Попечительский совет</a>
                    <a href="/federation/broshyury" class="footer-b__links">Брошюры</a>
                </div>
            </div>
            <div class="footer-b__column">
                <div class="footer-b__title js--footer-menu-toggle">Документы
                    <svg class="icon__down-arrow" width="256px" height="256px">
                        <use xlink:href="#down-arrow"></use>
                    </svg>
                </div>
                <div class="footer-b__menu">
                    <a href="/documents/uchreditelnye-dokumenty" class="footer-b__links">Учредительные документы</a>
                    <a href="/documents/konferentsii" class="footer-b__links">Конференции</a>
                    <a href="/documents/prezidiumy" class="footer-b__links">Президиумы</a>
                    <a href="/documents/trenerskie-sovety" class="footer-b__links">Тренерские советы</a>
                    <a href="/documents/normativnye-dokumenty" class="footer-b__links">Нормативные документы</a>
                    <a href="/documents/soglasheniya" class="footer-b__links">Соглашения</a>
                    <a href="/documents/doklady" class="footer-b__links">Доклады</a>
                    <a href="/documents" class="footer-b__links">Статьи внутри блока</a>
                </div>
            </div>
            <div class="footer-b__column">
                <div class="footer-b__title js--footer-menu-toggle">Соревнования
                    <svg class="icon__down-arrow" width="256px" height="256px">
                        <use xlink:href="#down-arrow"></use>
                    </svg>
                </div>
                <div class="footer-b__menu">
                    <a href="/calendar" class="footer-b__links">Календарь соревнований</a>
                    <a href="/rezultaty-sorevnovaniy-do-2011-goda" class="footer-b__links">Результаты соревнований до 2011 года</a>
                    <a href="/rules" class="footer-b__links">Правила</a>
                    <a href="/sudeyskaya-kollegiya" class="footer-b__links">Судейская коллегия</a>
                </div>
            </div>
            <div class="footer-b__column">
                <div class="footer-b__title js--footer-menu-toggle">Сборная России
                    <svg class="icon__down-arrow" width="256px" height="256px">
                        <use xlink:href="#down-arrow"></use>
                    </svg>
                </div>
                <div class="footer-b__menu">
                    <a href="/team/edinyy-kalendarnyy-plan" class="footer-b__links">Единый календарный план</a>
                    <a href="/team/sistema-otbora-v-sbornye-komandy" class="footer-b__links">Система отбора в сборные команды</a>
                    <a href="/team/spisok-kandidatov-v-sbornuyu-komandu" class="footer-b__links">Список кандидатов в сборную команду </a>
                    <a href="/sostav" class="footer-b__links">Текущий состав сборной</a>
                    <a href="/team/tekushchiy-reyting" class="footer-b__links">Текущий рейтинг</a>
                    <a href="/team/analiticheskie-dokumenty-otchety" class="footer-b__links">Аналитические документы, отчёты</a>
                    <a href="/team/trenerskiy-menedzherskiy-i-rukovodyashchiy-sostav-komandy" class="footer-b__links">Тренерский, менеджерский и руководящий состав команды</a>
                    <a href="/team/spisok-sportsmenov-instruktorov" class="footer-b__links">Список спортсменов-инструкторов</a>
                    <a href="/team/dostizheniya" class="footer-b__links">Достижения</a>
                </div>
            </div>
            <div class="footer-b__column">
                <div class="footer-b__title js--footer-menu-toggle">Регионы
                    <svg class="icon__down-arrow" width="256px" height="256px">
                        <use xlink:href="#down-arrow"></use>
                    </svg>
                </div>
                <div class="footer-b__menu">
                    <a href="/regions" class="footer-b__links">Региональные федерации</a>
                    <a href="#" class="footer-b__links">Клубы и секции</a>
                </div>
            </div>
            <div class="footer-b__column">
                <div class="footer-b__title js--footer-menu-toggle">Сборная России
                    <svg class="icon__down-arrow" width="256px" height="256px">
                        <use xlink:href="#down-arrow"></use>
                    </svg>
                </div>
                <div class="footer-b__menu">
                    <a href="/antidoping" class="footer-b__links">Антидопинг</a>
                    <a href="/info/antidoping-dokumenty" class="footer-b__links">Документы</a>
                    <a href="/info/biodobavki" class="footer-b__links">Биодобавки</a>
                </div>
            </div>
            <div class="footer-b__column">
                <div class="footer-b__title"><a href="/slalom-channels">Каналы</a>
                </div>
                <div class="footer-b__title"><a href="/news">Новости</a>
                </div>
            </div>
            <div class="footer-b__column">
                <div class="footer-b__title">Наши контакты</div>
                <div class="footer-b__contacts">
                    <div class="footer-b__contacts-item footer-b__contacts-item_phone">

                        <svg class="icon__phone" width="14px" height="14px">
                            <use xlink:href="#phone"></use>
                        </svg>
                        {% if phone %}
                            <a href="tel:{{ phone }}" class="footer-b__contacts-links">{{ phone }}</a>
                        {% else %}
                            <a href="tel:84957254687" class="footer-b__contacts-links">+7 (495) 725-46-87</a>
                        {% endif %}
                        <br>
                        {% if second_phone %}
                            <a href="tel:{{ second_phone }}" class="footer-b__contacts-links">{{ second_phone }}</a>
                        {% else %}
                            <a href="tel:84956370600" class="footer-b__contacts-links">+7 (495) 637-06-00</a>
                        {% endif %}
                    </div>
                    <div class="footer-b__contacts-item">
                        <svg class="icon__map" width="13px" height="16px">
                            <use xlink:href="#map"></use>
                        </svg>
                        {% if address %}
                            {{ address }}
                        {% else %}
                            119270, г. Москва, наб. Лужнецкая, д. 8, стр. 1, ком. 255
                        {% endif %}
                    </div>
                    <div class="footer-b__contacts-item">
                        <svg class="icon__mail" width="16px" height="13px">
                            <use xlink:href="#mail"></use>
                        </svg>
                        <a href="mailto:slalomrus@yandex.ru" class="footer-b__contacts-links">{% if mail %}{{ mail }}{% else %}slalomrus@yandex.ru{% endif %}</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-b__bottom">
            <div class="footer-b__copy"><a href="https://wapp.dev/?utm_source=slalom&utm_medium=link&utm_campaign=footer">Сделано в WAPP</a></div>
            <div class="footer-b__social">
                {% if vk_active %}
                    <a href="https://vk.com/{% if vk %}{{vk}}{% else %}wwslalom{% endif %}" class="footer-b__social-links footer-b__social-links_vk"></a>
                {% endif %}
                {% if facebook_active %}
                    <a href="https://www.facebook.com/{% if facebook %}{{facebook}}{% else %}wwslalom{% endif %}" class="footer-b__social-links footer-b__social-links_fb"></a>
                {% endif %}
                {% if instagram_active %}
                    <a href="https://www.instagram.com/{% if instagram %}{{instagram}}{% else %}slalom_russia{% endif %}" class="footer-b__social-links footer-b__social-links_insta"></a>
                {% endif %}
            </div>
        </div>
    </div>
</footer>

<a href="#" class="up-b">
    <svg class="icon__up-arrow" width="511.996px" height="511.996px">
        <use xlink:href="#up-arrow"></use>
    </svg>
</a>
