<footer class="footer-b">
    <div class="max-width">
        <div class="footer-b__grid">
            <div class="footer-b__column">
                <div class="footer-b__title"><a href="#">Каталог</a></div>
                <div class="footer-b__title"><a href="#">Акции</a></div>
                <div class="footer-b__title"><a href="brands.html">Бренды</a></div>
            </div>
            <div class="footer-b__column">
                <div class="footer-b__title"><a href="#">Компания</a></div>
                <div class="footer-b__list">
                    <div class="footer-b__item"><a href="company.html" class="footer-b__links">О компании</a></div>
                    <div class="footer-b__item"><a href="news.html" class="footer-b__links">Новости</a></div>
                    <div class="footer-b__item"><a href="staff.html" class="footer-b__links">Команда</a></div>
                    <div class="footer-b__item"><a href="reviews.html" class="footer-b__links">Отзывы</a></div>
                    <div class="footer-b__item"><a href="vacancy.html" class="footer-b__links">Карьера</a></div>
                    <div class="footer-b__item"><a href="contacs.html" class="footer-b__links">Контакты</a></div>
                    <div class="footer-b__item"><a href="partners.html" class="footer-b__links">Партнеры</a></div>
                    <div class="footer-b__item"><a href="licenses.html" class="footer-b__links">Лицензии</a></div>
                    <div class="footer-b__item"><a href="docs.html" class="footer-b__links">Документы</a></div>
                </div>
            </div>
            <div class="footer-b__column">
                <div class="footer-b__title"><a href="#">Информация</a></div>
                <div class="footer-b__list">
                    <div class="footer-b__item"><a href="#" class="footer-b__links">Магазины</a></div>
                    <div class="footer-b__item"><a href="blog.html" class="footer-b__links">Блог</a></div>
                    <div class="footer-b__item"><a href="#" class="footer-b__links">Политика</a></div>
                    <div class="footer-b__item"><a href="requisites.html" class="footer-b__links">Реквизиты</a></div>
                </div>
            </div>
            <div class="footer-b__column">
                <div class="footer-b__title"><a href="how.html">Помощь</a></div>
                <div class="footer-b__list">
                    <div class="footer-b__item"><a href="pays.html" class="footer-b__links">Условия оплаты</a></div>
                    <div class="footer-b__item"><a href="delivery.html" class="footer-b__links">Условия доставки</a></div>
                    <div class="footer-b__item"><a href="warranty.html" class="footer-b__links">Гарантия на товар</a></div>
                    <div class="footer-b__item"><a href="faq.html" class="footer-b__links">Вопрос-ответ</a></div>
                </div>
            </div>
            <div class="footer-b__column">
                <div class="footer-b__subscribe">
                    <a href="#" class="button button_white">
                        Подписаться на рассылку
                        <svg class="icon__plain" width="21px" height="16px">
                            <use xlink:href="#plain"></use>
                        </svg>
                    </a>
                </div>
                <div class="footer-b__contacts">
                    <div class="footer-b__contacts-item">
                        <div class="footer-b__contacts-icon"><img src="{{ 'assets/img/content/phone.svg'|theme}}" alt=""></div>
                        <a href="tel:84993467749">+74993467749</a>
                    </div>
                    <div class="footer-b__contacts-item">
                        <div class="footer-b__contacts-icon"><img src="{{ 'assets/img/content/mail.svg'|theme}}" alt=""></div>
                        <a href="mailto:welcome@wapp.dev">welcome@wapp.dev</a>
                    </div>
                    <div class="footer-b__contacts-item">
                        <div class="footer-b__contacts-icon"><img src="{{ 'assets/img/content/tag.svg'|theme}}" alt=""></div>
                        Москва, Угрешская 2, ст. 73, оф. 307
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-b__social">
            <div class="footer-b__social-list">
                <div class="footer-b__social-item"><a href="#" class="social-item social-item_vk"></a></div>
                <div class="footer-b__social-item"><a href="#" class="social-item social-item_fb"></a></div>
                <div class="footer-b__social-item"><a href="#" class="social-item social-item_ig"></a></div>
                <div class="footer-b__social-item"><a href="#" class="social-item social-item_yt"></a></div>
            </div>
        </div>
        <div class="footer-b__bottom">
            <div class="footer-b__copy">2020 © Все права защищены</div>
            <div class="footer-b__pays">
                <div class="footer-b__pays-item">
                    <div class="pay-item pay-item_cash"></div>
                </div>
                <div class="footer-b__pays-item">
                    <div class="pay-item pay-item_mc"></div>
                </div>
                <div class="footer-b__pays-item">
                    <div class="pay-item pay-item_visa"></div>
                </div>
                <div class="footer-b__pays-item">
                    <div class="pay-item pay-item_mir"></div>
                </div>
                <div class="footer-b__pays-item">
                    <div class="pay-item pay-item_wm"></div>
                </div>
                <div class="footer-b__pays-item">
                    <div class="pay-item pay-item_qiwi"></div>
                </div>
                <div class="footer-b__pays-item">
                    <div class="pay-item pay-item_sber"></div>
                </div>
                <div class="footer-b__pays-item">
                    <div class="pay-item pay-item_alfa"></div>
                </div>
                <div class="footer-b__pays-item">
                    <div class="pay-item pay-item_yk"></div>
                </div>
                <div class="footer-b__pays-item">
                    <div class="pay-item pay-item_ti"></div>
                </div>
            </div>
        </div>
    </div>
</footer>