<div class="header-mobile-b">
    <div class="max-width">
        <div class="header-mobile-b__grid">
            <div class="header-mobile-b__burger">
                <a href="#">
                    <svg class="icon__menu" width="341.333px" height="341.333px">
                        <use xlink:href="#menu"></use>
                    </svg>
                </a>
            </div>
            <div class="header-mobile-b__logo"><a href="index.html"><img src="{{ 'assets/img/content/logo.svg'|theme }}" alt=""></a></div>
            <div class="header-mobile-b__menu">
                <div class="header-mobile-b__item">
                    <div class="header-b__cat">
                        <a href="#" class="js--toggle-catalog">
                            <svg class="icon__catalog" width="10px" height="10px">
                                <use xlink:href="#catalog"></use>
                            </svg>
                            Каталог
                        </a>
                    </div>
                </div>
                <div class="header-mobile-b__item"><a href="sales.html" class="header-mobile-b__links"><img src="{{ 'assets/img/content/lightdark.svg'|theme }}" alt="">Акции</a></div>
                <div class="header-mobile-b__item"><a href="blog.html" class="header-mobile-b__links">Блог</a></div>
                <div class="header-mobile-b__item"><a href="brands.html" class="header-mobile-b__links">Бренды</a></div>
                <div class="header-mobile-b__item"><a href="how.html" class="header-mobile-b__links">Как купить</a></div>
                <div class="header-mobile-b__item"><a href="company.html" class="header-mobile-b__links">Компания</a></div>
                <div class="header-mobile-b__item"><a href="contacts.html" class="header-mobile-b__links">Контакты</a></div>
            </div>
            <div class="header-mobile-b__actions"> <a href="#" class="header-mobile-b__actions-item"><img src="{{ 'assets/img/content/zoom.svg'|theme }}" alt=""></a> <a href="#" class="header-mobile-b__actions-item"><img src="{{ 'assets/img/content/user.svg'|theme }}" alt=""></a> </div>
            <div class="header-b__actions">
                <a href="compare.html" class="header-b__actions-item">
                    <svg class="icon__compare" width="18px" height="17px">
                        <use xlink:href="#compare"></use>
                    </svg>
                    <span class="header-b__actions-count">0</span>
                </a>
                <a href="#" class="header-b__actions-item">
                    <svg class="icon__like" width="20px" height="16px">
                        <use xlink:href="#like"></use>
                    </svg>
                    <span class="header-b__actions-count">0</span>
                </a>
                <a href="cart.html" class="header-b__actions-item">
                    <svg class="icon__cart" width="19px" height="16px">
                        <use xlink:href="#cart"></use>
                    </svg>
                    <span class="header-b__actions-count">0</span>
                </a>
            </div>
        </div>
    </div>
</div>