[viewBag]

[blogPost]
slug = "trenerskiy-menedzherskiy-i-rukovodyashchiy-sostav-komandy"
categoryPage = 404

[blogPosts trainersPosts]
pageNumber = "{{ :page }}"
categoryFilter = "trenery"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = 404
postPage = "sostav-detalnaya"

[blogPosts managersPosts]
pageNumber = "{{ :page }}"
categoryFilter = "menedzhery"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = 404
postPage = "sostav-detalnaya"

[blogPosts medicPosts]
pageNumber = "{{ :page }}"
categoryFilter = "meditsinskiy-personal"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = 404
postPage = "sostav-detalnaya"
==
use RainLab\Blog\Models\Post;
use RainLab\Blog\Models\Category;

function onStart(){
    $category = new Category;

    $category = $category->where('slug', 'trenery')->first();
    $this['trainers'] = $category->posts;

    $category = $category->where('slug', 'menedzhery')->first();
    $this['managers'] = $category->posts;

    $category = $category->where('slug', 'meditsinskiy-personal')->first();
    $this['medics'] = $category->posts;
}
==
{% set post = blogPost.post %}

<section class="content">
    <div class="headline-b">
        <div class="max-width">
            <h1>{{ category }}</h1>
            <div class="sub-b">
                <div class="sub-b__item"><a href="/" class="sub-b__links">Главная</a>
                    <svg class="icon__down-arrow" width="256px" height="256px">
                        <use xlink:href="#down-arrow"></use>
                    </svg>
                </div>
                <div class="sub-b__item"><a href="/sostav" class="sub-b__links">Состав</a>
                    <svg class="icon__down-arrow" width="256px" height="256px">
                        <use xlink:href="#down-arrow"></use>
                    </svg>
                </div>
                <div class="sub-b__item">{{ category }}</div>
            </div>
        </div>
    </div>

    <div class="max-width">
        <div class="grid-b">
            {% partial 'team/left-menu' %}
            <div class="grid-b__content">
            <div class="catalog-b">
                {% if post.featured_files %}
                    {% for file in post.featured_files %}
                        <div class="welcome-page">
                            Документы
                            <br>
                            <a href = '{{ file.path }}' download>Скачать {{ file.file_name }}</a>
                        </div>
                    {% endfor %}
                {% endif %}

                    <div class="catalog-b__list catalog-b__list_services">
                        <div class="services-b__title">
                            Тренеры
                        </div>
                        {% for post in trainers %}
                            <div class="catalog-b__item">
                                <div class="catalog-b__pic">
                                    <a href="{{ post.url }}">
                                        {% if post.featured_images.count %}
                                            {% for image in post.featured_images|slice(0, 1) %}
                                                <img loading="lazy" src="{{ image.path }}" alt="">
                                            {% endfor %}
                                        {% else %}
                                            <img loading="lazy" src="{{ 'assets/images/nophoto.png'|theme }}" alt="">
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="catalog-b__title"><a href="/sostav/trenerskiy-menedzherskiy-i-rukovodyashchiy-sostav-komandy/{{ post.slug }}">{{post.title}}</a>
                                </div>
                                <div class="catalog-b__text">{{ post.excerpt }}</div>
                            </div>
                        {% endfor %}
                        <div class="services-b__title">
                            Менеджеры
                        </div>
                        {% for post in managers %}
                        <div class="catalog-b__item">
                            <div class="catalog-b__pic">
                                <a href="{{ post.url }}">
                                    {% if post.featured_images.count %}
                                    {% for image in post.featured_images|slice(0, 1) %}
                                    <img loading="lazy" src="{{ image.path }}" alt="">
                                    {% endfor %}
                                    {% else %}
                                    <img loading="lazy" src="{{ 'assets/images/nophoto.png'|theme }}" alt="">
                                    {% endif %}
                                </a>
                            </div>
                            <div class="catalog-b__title"><a href="/sostav/trenerskiy-menedzherskiy-i-rukovodyashchiy-sostav-komandy/{{ post.slug }}">{{post.title}}</a>
                            </div>
                            <div class="catalog-b__text">{{ post.excerpt }}</div>
                        </div>
                        {% endfor %}
                        <div class="services-b__title">
                            Медицинский персонал
                        </div>
                        {% for post in medics %}
                        <div class="catalog-b__item">
                            <div class="catalog-b__pic">
                                <a href="{{ post.url }}">
                                    {% if post.featured_images.count %}
                                    {% for image in post.featured_images|slice(0, 1) %}
                                    <img loading="lazy" src="{{ image.path }}" alt="">
                                    {% endfor %}
                                    {% else %}
                                    <img loading="lazy" src="{{ 'assets/images/nophoto.png'|theme }}" alt="">
                                    {% endif %}
                                </a>
                            </div>
                            <div class="catalog-b__title"><a href="/sostav/trenerskiy-menedzherskiy-i-rukovodyashchiy-sostav-komandy/{{ post.slug }}">{{post.title}}</a>
                            </div>
                            <div class="catalog-b__text">{{ post.excerpt }}</div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
